@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Référence à wwwroot/css/LoginStyle.css pour aller chercher les règles de css pour la view Login-->
<link rel="stylesheet" href="~/css/LoginStyle.css" />

<!--Le forms de login-->
<div class="login-page">
    <div class="login-container">
        <h2>Se connecter</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <button type="submit">Connexion</button>
            </div>
        </form>
        <div class="form-group">
            <p>Pas de compte? <a href="~/Login/CreateAcc">Créer un compte</a>.</p>
        </div>
    </div>
</div>