
<img src="/images/Logo.PNG" style="padding-top: 2rem; width: 50%; height: 50%">
<div class="login-page">
    <div class="login-container">
        <h2>Se connecter</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <button type="submit">Connexion</button>
            </div>
        </form>
        <div class="form-group">
            <p>Pas de compte? <a href="~/Login/CreateAcc">Créer un compte</a>.</p>
        </div>
    </div>
</div>
