<p> FAQ </p>

<a href="https://discord.gg/5liferoleplay" target="_blank" rel="noopener">
    <img src="~/images/DiscordLogo.svg" alt="Rejoindre notre serveur Discord">
</a>
<img src="/images/cliqueFiveM.PNG">