@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FiveM</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Oswald"
        }

        body {
            font-family: "Open Sans"
        }

        body {
            margin: 0;
            padding: 0;
            background: url('/images/forest.jpg') center/cover no-repeat; /* Set the background image for the body */
            background-color: #0f1b23c4; /* Fallback background color */
        }

        header {
            background: linear-gradient(to bottom, rgba(24, 75, 109, 0.8), #070d11cb);
            padding: 48px;
            text-align: center;
        }

        .w3-button {
            color: white; /* Set text color for buttons */
        }
    </style>
</head>
<body>
    <div>

        <div style="background-color: #0f1b23cb; justify-content: center; display: flex;">
            <div style="max-width: 750px; text-align: center; font-size: x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; padding-bottom: 5rem;">

                <p> FAQ </p>

                <img src="/images/cliqueDiscord.PNG"> <img src="/images/cliqueFiveM.PNG">
            </div>
        </div>
    </div>
</body>
</html>
