@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>
        Bienvenue sur 5LIFE ROLEPLAY, le serveur de jeu de rôle québécois qui a vu le jour en 2021.
        Notre équipe de passionnés du roleplay s'efforce de créer des histoires uniques au sein d'une communauté
        à l'image de chacun.
    </p>

    <p>
        Aujourd'hui, en 2024, c'est avec enthousiasme que notre équipe souhaite offrir à la communauté une expérience
        de jeu rappelant le "bon vieux temps" à travers un serveur soigneusement conçu et complet.
    </p>

    <p>
        Plongez dans l'univers de GTA5 avec 5LIFE ROLEPLAY, où chaque joueur a la possibilité de façonner son destin
        au sein d'histoires captivantes et évolutives. Notre économie réaliste et notre système de criminalité complexe
        vous garantissent une expérience immersive unique.
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=zkrVJm34pMM" frameborder="0" allowfullscreen></iframe>

    <div class="features">
        <h2>Caractéristiques du serveur :</h2>
        <div class="feature-item">- Histoires captivantes et évolutives</div>
        <div class="feature-item">- Économie réaliste</div>
        <div class="feature-item">- Système de criminalité complexe</div>
        <!-- Add more features as needed -->
    </div>

    <div class="call-to-action">
        <button>Rejoignez-nous dès maintenant !</button>
    </div>

    <style>
        .features {
            text-align: center;
            margin-top: 2rem;
        }

        .feature-item {
            margin-bottom: 1rem;
        }

        .call-to-action {
            text-align: center;
            margin-top: 2rem;
        }

        .call-to-action button {
            padding: 1rem 2rem;
            font-size: 1rem;
            background-color: #333; 
            color: #fff; 
            border: none;
            cursor: pointer;
        }

        .linkLogo {
            width: 20rem;
            height: 10rem;
            border-radius: 10px;
            margin: 2rem;
        }
    </style>

    
    

</div>
<div style="display: flex; justify-content:center">

    <a href="https://discord.gg/5liferoleplay" target="_blank" rel="noopener">
        <div class="linkLogo" style="background-color:#424549;">
            <img src="~/images/DiscordLogo.svg" alt="Rejoindre notre serveur Discord">
            <p style="color:#7289da">Cliquez ici pour accedez au Discord</p>
        </div>
    </a>


    <a href="cfx.re/join/788lze" target="_blank" rel="noopener">
        <div class="linkLogo" style="background-color: #FF7100;">
            <img src="~/images/FiveM.png" alt="Ouvrir connexion FiveM" style="height:36%; width:36%" />
            <p style="color: white">Cliquez ici pour établire une connexion FiveM</p>
        </div>
    </a>
</div>