@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/bouton.css">
<link rel="stylesheet" href="~/css/index.css">
<div class="text-center">

    <p>
        Bienvenue sur 5LIFE ROLEPLAY, le serveur de jeu de rôle québécois qui a vu le jour en 2021.
        Notre équipe de passionnés du roleplay s'efforce de créer des histoires uniques au sein d'une communauté
        à l'image de chacun.
    </p>

    <p>
        Aujourd'hui, en 2024, c'est avec enthousiasme que notre équipe souhaite offrir à la communauté une expérience
        de jeu rappelant le "bon vieux temps" à travers un serveur soigneusement conçu et complet.
    </p>

    <p>
        Plongez dans l'univers de GTA5 avec 5LIFE ROLEPLAY, où chaque joueur a la possibilité de façonner son destin
        au sein d'histoires captivantes et évolutives. Notre économie réaliste et notre système de criminalité complexe
        vous garantissent une expérience immersive unique.
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=zkrVJm34pMM" frameborder="0" allowfullscreen></iframe>

    <div class="features">
        <h2>Caractéristiques du serveur :</h2>
        <div class="feature-item">- Histoires captivantes et évolutives</div>
        <div class="feature-item">- Économie réaliste</div>
        <div class="feature-item">- Système de criminalité complexe</div>
        <!-- Add more features as needed -->
    </div>

    <div class="call-to-action">
        <button>Rejoignez-nous dès maintenant !</button>
    </div>
</div>

<div style="display: flex; justify-content: center; margin: 50px">
    <a href="https://discord.gg/5liferoleplay" target="_blank" rel="noopener" style="text-decoration: none; margin-right: 10px;">
        <div class="button">
            <img src="~/images/DiscordLogo.svg" alt="Rejoindre notre serveur Discord">
            <p>Cliquez ici pour accéder au Discord</p>
        </div>
    </a>

    <a href="https://cfx.re/join/788lze" target="_blank" rel="noopener" style="text-decoration: none; margin-left: 10px;">
        <div class="button white">
            <img src="~/images/FiveM.png" alt="Logo FiveM">
            <p>Cliquez ici pour se connecter à FiveM</p>
        </div>
    </a>
</div>