<img src="/images/Logo.PNG" style="padding-top: 2rem;">
<p style="margin-bottom: 5rem;">
5LIFE ROLEPLAY EST UN SERVEUR DE ROLEPLAY QUÉBÉCOIS DÉVELOPPÉ TOUT D'ABORD EN 2021 PAR UNE
ÉQUIPE DE PASSIONNÉS DU ROLEPLAY, CHERCHANT À CRÉER LEURS HISTOIRES AU SEIN D'UNE COMMUNAUTÉ
À LEUR IMAGE à
</p>

<p style="margin-bottom: 5rem;">
AUJOURD'HUI, 2024, C'EST CETTE MÊME ÉQUIPE QUI SOUHAITE OFFRIR À SA COMMUNAUTÉ, CETTE SENSATION
DU "BON VIEUX TEMPS" AU TRAVERS UN SERVEUR PEAUFINÉ ET COMPLET.
</p
        
