<link rel="stylesheet" href="~/css/bouton.css">
<img src="/images/LogoNew.PNG" style="padding-top: 2rem; width: 50%; height: 50%">
<p style="margin-bottom: 5rem;">
5LIFE ROLEPLAY EST UN SERVEUR DE ROLEPLAY QUÉBÉCOIS DÉVELOPPÉ TOUT D'ABORD EN 2021 PAR UNE
ÉQUIPE DE PASSIONNÉS DU ROLEPLAY, CHERCHANT À CRÉER LEURS HISTOIRES AU SEIN D'UNE COMMUNAUTÉ
À LEUR IMAGE à
</p>

<p style="margin-bottom: 5rem;">
AUJOURD'HUI, 2024, C'EST CETTE MÊME ÉQUIPE QUI SOUHAITE OFFRIR À SA COMMUNAUTÉ, CETTE SENSATION
DU "BON VIEUX TEMPS" AU TRAVERS UN SERVEUR PEAUFINÉ ET COMPLET.
</p>
       
<div style="display: flex; justify-content: center; margin: 50px">
    <a href="https://discord.gg/5liferoleplay" target="_blank" rel="noopener" style="text-decoration: none; margin-right: 10px;">
        <div class="button">
            <img src="~/images/DiscordLogo.svg" alt="Rejoindre notre serveur Discord">
            <p>Cliquez ici pour accéder au Discord</p>
        </div>
    </a>

    <a href="https://cfx.re/join/788lze" target="_blank" rel="noopener" style="text-decoration: none; margin-left: 10px;">
        <div class="button white">
            <img src="~/images/FiveM.png" alt="Logo FiveM">
            <p>Cliquez ici pour se connecter à FiveM</p>
        </div>
    </a>
</div>

